* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('../fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinslight';
    src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poppinssemibold';
    src: url('../fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3{
	font-family: 'poppinssemibold',Arial, Helvetica, sans-serif;

}
body {
	font-family: 'poppinsregular',Arial, Helvetica, sans-serif;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
br.clear{
	clear: both;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	color: #000000;
	line-height: 1.7em;
	font-family: 'poppinslight',Arial, Helvetica, sans-serif;
	font-size: 14px;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1400px;
}

a{
	color: #1a293c;
}
#home{
	background-color: #fff;
}
#home section.container{
	width: 95%;
	background: url(../images/spotlight.jpg) no-repeat center center;
	background-size: cover;
	border-bottom-right-radius: 60px; 
}
#home section.container div.overlay{
	background: rgba(0,0,0,.3);
	padding: 1% 6% 12% 12%;
	border-bottom-right-radius: 60px;	
}
#home section.container header {
	width:100%;
	margin:0 auto;
	padding:20px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
#home section.container header h1.left a{
	color: #fff;
	font-weight: bold;
    font-size: 30px;
}
#home section.container header nav.right{
	line-height: 50px;
}
#home section.container header nav.right ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#home section.container header nav.right ul li{
	display: inline-block;
	margin-right: 30px;
}
#home section.container header nav.right ul li:last-child{
	margin-right: 0;
}
#home section.container header nav.right ul li a{

	color: #fff;
}
#spotlight{
	margin-top: 11%;
}
#spotlight section.content  h2{
	font-size: 43px;
	line-height: 1.4em;
	font-weight: bold;
	color: #fff;
}
#spotlight section.content p{
	margin: 35px 0;
	width:50%;
	color: #fff;
	line-height: 1.7em;
}
#spotlight section.content a.button{
	padding: 15px 50px;
	border-radius: 6px;
	background: #ff7500;
	display: inline-block;
	color: #fff;
	font-size: 17px;
}
#services{
	padding: 80px 0 80px 0;
}
#services div.top span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#services div.top h2{
	margin: 20px 0 40px;
	font-weight: bold;
	font-size: 40px;
}

#services div.bottom  ul li{
	width: 31%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding:15px 25px 25px 25px;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 3%;
	border-bottom-right-radius: 60px;
}
#services div.bottom  ul li:last-child{
	margin-right: 0;
}
#services div.bottom ul li span.count{
	color: #ff7500;
	font-size: 25px;
	font-weight: bold;

}
#services div.bottom ul li h3{
	margin:10% 0 6% 0;
	font-weight: bold;
	font-size: 20px;
}
#about section.container{
	display: flex;
}
#about section.container img.left{
	width: 50%;
	border-bottom-right-radius: 60px; 
}
#about section.container div.right{
 	padding: 60px;
}
#about section.container div.right span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#about section.container div.right h2{
	margin: 3% 0 3% 0;
	font-size: 40px;
	font-weight: bold;
}
#about section.container div.right p{
	margin-bottom: 4%;
	text-align: justify;
}
#about section.container div.right a.button{
	padding: 20px 50px;
	border-radius: 14px;
	background: #ff7500;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
#stat section.container{
	display: flex;
	padding: 80px 0 80px 0;
}
#stat section.container div.left{
	width: 50%;
	margin-right: 2%;
}
#stat section.container div.left h1{
	font-size: 40px;
	font-weight: bold;
}
#stat section.container div.left p{
	margin-bottom: 4%;
	text-align: justify;
}
#stat section.container div.right{
	width: 50%;
}
#stat section.container div.right ul{
	width: 70%;
	padding: 32px;
	border-bottom-right-radius: 40px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#stat section.container div.right ul li{
	width: 45%;
	padding: 4px;
}
#stat section.container div.right ul li span.counter{
	font-size: 40px;
	font-weight: bold;
	color: #ff7500;
}
#stat section.container div.right ul li b.one{
	color: #ff7500;
	font-size: 13px;
}
#stat section.container div.right ul li b{
	font-size: 13px;
}
#reviews div.top{
	text-align: center;
}
#reviews div.top span{
	color: #a49999;
	font-weight: bold;
	font-size: 25px;
}
#reviews div.top h2{
	margin: 2% 0 2% 0;
	font-size: 40px;
	font-weight: bold;
}
#reviews div.bottom ul li{
	width: 40%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
	box-sizing: border-box;
	display: inline-block;
	margin-right: 5%;
	border-bottom-right-radius: 60px;
}
#reviews div.bottom ul li h4{
	margin: 3% 0 3% 0;
	color:#726969;
	font-size: 28px;
}
#reviews div.bottom ul li span{
	font-size: 17px;
}
#reviews div.bottom ul li p{
	margin-top: 3%;
}
#reviews div.bottom ul li img{
	border-radius: 50%;
	width: 30%;
}
#blog{
	padding: 80px 0 80px 0;
}
#blog section.top h2{
	margin-bottom: 40px;
	font-weight: bold;
	font-size: 40px;
}
#blog section.bottom ul li{
	width: 30%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	display: inline-block;
	margin-right: 3%;
	border-bottom-right-radius: 60px;
	border-bottom: 1px solid #e9dde9;
}	
#blog section.bottom ul li div.container{
	height: 197px;
    overflow: hidden;
}
#blog section.bottom ul li div.container img{
	width: 100%;
}
#blog section.bottom ul li div.content{
	padding: 25px;
}
#blog section.bottom ul li div.content h4{
	font-weight: bold;
	font-size: 20px;
}
#blog section.bottom ul li div.content p{
	margin: 4% 0 4% 0;
}
#blog section.bottom ul li div.content div.foot span{
	font-size: 17px;
	color: #a49999;
	margin-right: 40%;
}	
#blog section.bottom ul li div.content div.foot b{
	font-size: 17px;
	color: #a49999;	
}

#join{
	padding: 3% 0 5%;
	background-color: #e86b00;
	width: 95%;
	border-bottom-right-radius: 60px; 
}
#join section.wrapper div.head h3{
	text-align: center;
	font-size: 40px;
    font-weight: bold;
}
form p{
	margin-bottom: 20px;
}
form p input {
	border: 1px solid #BBBBBB;
	background: #fff;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	outline: none;
}
input::-moz-focus-inner{
	border: 0 !important;
}
form p textarea {
    width: 100%;
    border: 1px solid #BBBBBB;
	background: #fff;
	padding-top: 15px;
	padding-left: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #A4A4A4;
	font-size: 16px;
	resize: none;
	outline: none;
	height: 50px;
}
form p{
	width: 32.66%;
	float: left;
	margin-right: 1%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
form p.first{
	width: 66.4%;
	float: left;
	margin-right: 1%;
}
form p.education{
	margin-right: 1% !important;
}
form p.dob{
	margin-right:0;
}
form p.last{
	width: 100%;
	margin-bottom: 0;
}
form p.email{
	width: 32.5%;
	margin-right: 0;
}
form p:nth-child(5){
	margin-right: 0;
}
input[type="submit"]::-moz-focus-inner {
  border: 0;
}
input:focus {
	outline:none;	
}
label{
	font-family: 'poppinslight',Arial, Helvetica, sans-serif;
	color: #fff;
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
}
.submit{
	border: none;
	cursor: pointer;
	display: block;
	width: 160px;
	padding: 10px 0;
	text-align: center;
	color: #FFF;
	margin: 0 auto;
	border-radius: 10px;
	border: 2px solid #fff;
	background: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	font-family: 'poppinslight',Arial, Helvetica, sans-serif;
	margin-top: 30px;
}


#footer {
	padding: 40px 0 0 80px;
	background: #fff;
	width: 95%;
    border-top-right-radius: 60px; 
}
#footer section.top{
	display: flex;
	justify-content: space-between;
}
#footer section.top div.item div.links{
	width: 70%;
}
#footer section.top div.item div.links a img{
	border-radius: 50%;
	width: 20%;
	margin-right: 10%;
}
#footer section.top div.item{
	width:20%;
	border-bottom: 1px solid #e9dde9;
}
#footer section.top div.item h1{
	font-weight: bold;
}
#footer section.top div.item p{
	margin: 8% 0 8% 0;
	color: #5d666e;
}
#footer section.top div.item h3{
	margin-bottom: 8%;
}
#footer section.top div.item ul li{
	margin-bottom: 28px;
	font-size: 14px;
}
#footer section.top div.item ul li a{
	color: #5d666e;
}


/*responsive start here*/

@media all and (max-width: 1980px){
	header nav.mobile-menu, span.close-icon, span.menu-icon{
		display: none;
	}
}
@media all and (max-width: 980px){
	#services div.bottom ul li{
		width: 30%;
	}
}
@media all and (max-width: 768px){
	#blog section.bottom ul li{
		width: 29%;
	}
	#stat section.container div.right ul li span.counter {
		font-size: 26px;
	}
}
@media all and (max-width: 640px){
	header nav.menu{
		display: none;
	}
	header span.menu-icon{
		display: block;
		float: right;
		width: 32px;
		height: 32px;
		cursor: pointer;
		top: 38px;
		position: absolute;
		right: 45px;
	}
	header span.close-icon{
		position: absolute;
		width: 32px;
		height: 32px;
		cursor: pointer;
		z-index: 55;
		right: 45px;
		top: 38px;
	}
	header nav.mobile-menu{
		background-color:#e86b00;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		padding-top: 40px; 
	}
	header nav.mobile-menu ul li{
		margin-bottom: 30px;
		display: block;
		text-align: center;
		font-size: 18px;
		font-family: 'josefin_sansitalic';
	}
	#blog section.bottom ul{
		display: flex;
	}
	#blog section.bottom ul li div.container{
		height: 110px;
	}
}